@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: rgb(59 7 100);
  --secondary: #048009;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* next page link */
.nextpagelink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

}

.nextpagelink .cssbuttons_io_button {
  color: black;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: 1px solid;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  /* box-shadow: inset 0 0 1.6em -0.6em #ff0000; */
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons_io_button .icon {
  background: rgb(59 7 100);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(59 7 100);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons_io_button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons_io_button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #ffffff;
}

.cssbuttons_io_button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons_io_button:active .icon {
  transform: scale(0.95);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
